# large data files
/data
assets/
assets/

# python environmnts
.venv/
env/
dist/
__pycache__/

# jupyter exploratory notebooks
exploration.ipynb
.DS_*
.ruff_cache/
*_checkpoints/

# Other
*.egg*
results.csv

team17_*/

